%%-*- mode: erlang -*-

{deps, [
    {erlsom,
        {git, "https://github.com/willemdj/erlsom.git", {branch, "master"}}
    },
    {exomler,
        {git, "https://github.com/altenwald/exomler.git", {branch, "master"}}
    },
    {exml,
        {git, "https://github.com/esl/exml.git", {branch, "master"}}
    },
    {mochiweb,
        {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}
    },
    {fast_xml,
        {git, "https://github.com/processone/fast_xml.git", {branch, "master"}}
    }
]}.

{clean_files, ["deps", "ebin"]}.
